@tailwind base;
@tailwind components;
@tailwind utilities;

/* here we want to add some custom property to utlize and brin in evry aprt of th appclakiton */
:root {
  --COLOR-GRAY: #333;
  --COLOR-GRAY-DARK: #222;
  --COLOR-GRAY-LIGHT: #ccc;
  --COLOR-ONGOING: #98c1d9;
  --COLOR-DONE: #ee6c4d;
}
